<div ng-include="'template/header.html'"></div>
<div class="content">
    <div class="content-img">
        <ul>
            <li><img src="img/content/slid-1.png"></li>
        </ul>
        <ol>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
</div>
<div class="content-body">
    <div class="body-cont">
        <div class="body-cont-left">
            <a href="#" class="body-left-car">
                <strong>FREE SHIPPING </strong>ON ORDERS OVER $500
            </a>
        </div>
        <div class="body-cont-right">
            <a href="#" class="body-left-car body-right-car">
                <strong>FREE SHIPPING </strong>ON ORDERS OVER $500
            </a>
        </div>
    </div>
</div>
<div class="home-cont-body">
    <div class="home-content">
        <div class="home-title">
            <span>FEATURED PRODUCTS</span>
        </div>
        <div class="home-produces">
            <ul>
                <li>
                    <img class="sale" src="img/sale.png" >
                    <div class="produce-img">
                        <a href="#"><img src="img/content/product1.png" style="width: 210px; height: 210px;"></a>
                    </div>
                    <div class="produce-tit">
                        <p>HANDMADE EMERALD CUT<br>EMERALD RING</p>
                    </div>
                    <div class="produce-price">
                        <p>$550.00<span>$720.00</span></p>
                        <!--<a href="#" class="proce-ob1"></a>-->
                        <!--<a href="#" class="proce-ob1 proce-like"></a>-->
                        <!--<a href="#" class="proce-bay"><img src="img/bg_cart.png"></a>-->
                    </div>
                </li>
                <li>
                    <div class="produce-img">
                        <a href="#"><img src="img/content/product2.png" style="width: 210px; height: 210px;"></a>
                    </div>
                    <div class="produce-tit">
                        <p>HANDMADE EMERALD CUT<br>EMERALD RING</p>
                    </div>
                    <div class="produce-price">
                        <p>$550.00<span>$720.00</span></p>
                        <!--<a href="#" class="proce-ob1"></a>-->
                        <!--<a href="#" class="proce-ob1 proce-like"></a>-->
                        <!--<a href="#" class="proce-bay"><img src="img/bg_cart.png"></a>-->
                </li>
                <li>
                    <img class="sale" src="img/new.png" >
                    <div class="produce-img">
                        <a href="#"><img src="img/content/product3.png" style="width: 210px; height: 210px;"></a>
                    </div>
                    <div class="produce-tit">
                        <p>HANDMADE EMERALD CUT<br>EMERALD RING</p>
                    </div>
                    <div class="produce-price">
                        <p>$550.00<span>$720.00</span></p>
                        <!--<a href="#" class="proce-ob1"></a>-->
                        <!--<a href="#" class="proce-ob1 proce-like"></a>-->
                        <!--<a href="#" class="proce-bay"><img src="img/bg_cart.png"></a>-->
                </li>
                <li>
                    <div class="produce-img">
                        <a href="#"><img src="img/content/product4.png" style="width: 210px; height: 210px;"></a>
                    </div>
                    <div class="produce-tit">
                        <p>HANDMADE EMERALD CUT<br>EMERALD RING</p>
                    </div>
                    <div class="produce-price">
                        <p>$550.00<span>$720.00</span></p>
                        <!--<a href="#" class="proce-ob1"></a>-->
                        <!--<a href="#" class="proce-ob1 proce-like"></a>-->
                        <!--<a href="#" class="proce-bay"><img src="img/bg_cart.png"></a>-->
                </li>
            </ul>
            <ul>
                <li>
                    <div class="produce-img">
                        <a href="#"><img src="img/content/product5.png" style="width: 210px; height: 210px;"></a>
                    </div>
                    <div class="produce-tit">
                        <p>HANDMADE EMERALD CUT<br>EMERALD RING</p>
                    </div>
                    <div class="produce-price">
                        <p>$550.00<span>$720.00</span></p>
                        <!--<a href="#" class="proce-ob1"></a>-->
                        <!--<a href="#" class="proce-ob1 proce-like"></a>-->
                        <!--<a href="#" class="proce-bay"><img src="img/bg_cart.png"></a>-->
                </li>
                <li>
                    <div class="produce-img">
                        <a href="#"><img src="img/content/product6.png" style="width: 210px; height: 210px;"></a>
                    </div>
                    <div class="produce-tit">
                        <p>HANDMADE EMERALD CUT<br>EMERALD RING</p>
                    </div>
                    <div class="produce-price">
                        <p>$550.00<span>$720.00</span></p>
                        <!--<a href="#" class="proce-ob1"></a>-->
                        <!--<a href="#" class="proce-ob1 proce-like"></a>-->
                        <!--<a href="#" class="proce-bay"><img src="img/bg_cart.png"></a>-->
                </li>
                <li>
                    <img class="sale" src="img/top.png">
                    <div class="produce-img">
                        <a href="#"><img src="img/content/product7.png" style="width: 210px; height: 210px;"></a>
                    </div>
                    <div class="produce-tit">
                        <p>HANDMADE EMERALD CUT<br>EMERALD RING</p>
                    </div>
                    <div class="produce-price">
                        <p>$550.00<span>$720.00</span></p>
                        <!--<a href="#" class="proce-ob1"></a>-->
                        <!--<a href="#" class="proce-ob1 proce-like"></a>-->
                        <!--<a href="#" class="proce-bay"><img src="img/bg_cart.png"></a>-->
                </li>
                <li>
                    <div class="produce-img">
                        <a href="#"><img src="img/content/product8.png" style="width: 210px; height: 210px;"></a>
                    </div>
                    <div class="produce-tit">
                        <p>HANDMADE EMERALD CUT<br>EMERALD RING</p>
                    </div>
                    <div class="produce-price">
                        <p>$550.00<span>$720.00</span></p>
                        <!--<a href="#" class="proce-ob1"></a>-->
                        <!--<a href="#" class="proce-ob1 proce-like"></a>-->
                        <!--<a href="#" class="proce-bay"><img src="img/bg_cart.png"></a>-->
                </li>
            </ul>
        </div>
    </div>
    <div class="brands">
        <div class="home-title">
            <span>FEATURED PRODUCTS</span>
            <div class="jiantou"><a href="#"> > </a><a href="#"> < </a></div>
        </div>
        <div class="brands-list">
            <ul>
                <li>
                    <div class="list-yuan"><a href="#"><img src="img/content/brand1.png"></a></div>
                </li>
                <li>
                    <div class="list-yuan"><a href=""><img src="img/content/brand2.png"></a></div>
                </li>
                <li>
                    <div class="list-yuan"><a href=""><img src="img/content/brand3.png"></a></div>
                </li>
                <li>
                    <div class="list-yuan"><a href=""><img src="img/content/brand4.png"></a></div>
                </li>
                <li>
                    <div class="list-yuan"><a href=""><img src="img/content/brand5.png"></a></div>
                </li>
                <li>
                    <div class="list-yuan"><a href=""><img src="img/content/brand6.png"></a></div>
                </li>
                <li>
                    <div class="list-yuan"><a href=""><img src="img/content/brand7.png"></a></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-include="'template/footer.html'"></div>