<div class="header-top">
    <div class="head">
        <ul class="head-left">
            <li class="current bgcolor"><a href="#">EN</a></li>
            <li><a href="#">FR</a></li>
            <li><a href="#">GM</a></li>
            <li class="current bgcolor bgleft-one"><a href="#">$</a></li>
            <li><a href="#">&</a></li>
            <li><a href="#">&</a></li>
        </ul>
        <div class="head-right">
            <nav>
                <ul>
                    <li class="current bgcolor"><a  href="#">My Account</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-box">
        <div class="gir-logo">
            <hgroup>
            <div class="logo-one">
                <a href="#"><img src="img/logo.png"></a>
            </div>
            <div class="logo-two">
                <span>ONLINE STORE THEME</span>
            </div>
            </hgroup>
        </div>
        <div class="gir-header">
            <div class="gir-header-top">
                <p class="welcome">Welcome visitor you can <a href="#">login</a> or <a href="#">create an account</a></p>
                <div class="cart">
                    <span></span>
                    <p>CART $0.00</p>
                </div>
                <div class="search">
                    <input type="button" class="search-but" value="">
                    <input type="text" class="search-txt" placeholder="Search entire store here...">
                </div>
            </div>
            <div class="gir-header-down">
                <ul>
                    <li><a class="active" href="#nav1">HOME</a></li>
                    <li><a href="#nav2">SOLIDS</a></li>
                    <li><a href="#nav3">LIQUIDS</a></li>
                    <li><a href="#nav4">SPRAY</a></li>
                    <li><a href="#nav5">ELECTRIC</a></li>
                    <li><a href="#nav6">FOR CARS</a></li>
                    <li><a href="#nav7">ALL PAGES</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
